<div>
  <div class="mt-8">
    <h1 class="font-bold text-4xl">Client#ask</h1>
  </div>

  <div class="mt-8">
    <%= form_tag("/client/ask", method: :get, class: "flex gap-4") do %>
      <%= label_tag(:value, "Question:") %>
      <%= text_field_tag(:value, params[:value], class: "w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow") %>
      <%= submit_tag("Envoyer", class: "rounded-md bg-slate-800 py-2 px-4 border border-transparent text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2") %>
    <% end %>
  </div>

  <div class="mt-8">
    <%= @raw_response %>
  </div>
</div>